name: 03 - Contexts

on:
  workflow_dispatch:

jobs:
  show:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "APP_NAME=${APP_NAME}"
          echo "ref=${{ github.ref }}"
          echo "sha=${{ github.sha }}"
          echo "actor=${{ github.actor }}"
          echo "event=${{ github.event_name }}"
